@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";
body {
  font-family: Adobe Caslon Pro;
  margin: 0px;
  background: #29303a;
}

.documentSection {
  background: #faeee2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  /*centers section*/
  position: relative;
}

.documentOverflow {
  background: #29303a;
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
}

.documentUnder {
  background: none;
  border: 40px solid #d0c7be;
  width: calc(100% - 225px);
  max-width: 1100px;
  z-index: 0;
  min-height: 1200px;
  margin-top: 50px;
  position: absolute;
}

.swash {
  font-style: italic;
  font-feature-settings: "swsh";
  font-size: 2em;
}

.authorSection {
  background: #29303a;
  color: #eee3cf;
  margin-top: 100px;
}

.mainColumn {
  background: #eee3cf;
  border: 14px solid #29303a;
  width: calc(100% - 133px);
  max-width: 1100px;
  z-index: 1;
  min-height: 1400px;
  position: relative;
  margin-top: 80px;
  margin-left: 100px;
  /*helps center because issueIndex*/
}

.mainColumn::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #666666;
}

.logoThe {
  font-style: italic;
  position: relative;
  right: 120px;
  font-size: 20px;
}

.logoBroadway, .logoJournal {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 500;
  line-height: 39px;
}

.controlBar {
  height: 10px;
  display: flex;
  border-left: 8vw solid #322e2b;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
}

.hrMain {
  width: 50px;
  height: 2px;
  background: #666666;
  margin: 30px auto;
}

.mainWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 160px);
  color: #666666;
}

.logoTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 20px;
}

.logoSubtitle {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1px;
  left: 4px;
  letter-spacing: .5px;
  position: relative;
}

.mainCenter {
  width: 340px;
}

.footerBar {
  height: 80px;
}

.documentFooter {
  background: #322e2b;
}

.documentInner {
  border: 1px solid #666666;
  margin: 5px;
}

.issueBar {
  width: 109px;
  position: relative;
  font-family: Roboto;
  z-index: 0;
}

.activeMonth {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.singleIndex {
  color: #666666;
  cursor: pointer;
}

.singleText, .yearText {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: #666666;
  position: relative;
  top: 80px;
  padding-right: 10px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 11px;
  text-align: right;
  background: #29303a;
}

.childIndex {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #666666;
  position: relative;
  padding-left: 0px;
  top: 80px;
  background: #faeee2;
}

.childText {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-right: 28px;
  padding: 5px;
  color: #faeee2;
  font-weight: 900;
  margin-bottom: 13px;
  background: #fe7251;
  text-align: right;
}

.issueIndex {
  position: relative;
  right: 33px;
  background: none;
  z-index: 3;
  top: 100px;
}

.issueIndex:nth-child(2) {
  z-index: 2;
  /*makes DEC clickable*/
}

.childIndex:hover .childText {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  color: #faeee2;
  margin-right: 0px;
}

.singleIndex:hover .singleText, .singleIndex:hover .yearText {
  color: #faeee2;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.activeMonth .singleText, .activeMonth .yearText {
  color: #faeee2;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.childIndex:nth-child(1) .childText {
  margin-top: 1px;
}

.childIndex:nth-last-child(1) .childText {
  margin-bottom: 12px;
}

.topMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.topMenu a {
  text-decoration: none;
  color: #666666;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.authorsButton {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #666666;
  padding: 10px;
  font-size: 11px;
  margin-top: 20px;
}

.authorHeader {
  text-align: center;
  font-size: 32px;
  font-style: italic;
      display: flex;
}

.inBorder {
  height: 1px;
  background: rgba(250, 238, 226, 0.3);
  width: 40%;
  position: relative;
  top: 40px;
  margin: 0px 20px;
}

@media (max-width: 1000px) {
  .childIndex, .singleText, .yearText, .yearText {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .childIndex:nth-last-child(1) .childText {
    margin-bottom: 0px;
  }

  .singleText, .yearText, .yearText {
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(250, 238, 226, 0.09);
    padding: 10px;
  }

  .childText {
    border-bottom: 1px solid rgba(250, 238, 226, 0.09);
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
  }

  .childIndex {
    margin: 0px;
  }

  .issueBar {
    margin-right: 12px;
  }

  .issueIndex {
    right: 2px;
    top: -68px;
  }

  .mainColumn {
    width: calc(100% + 486px);
    margin-left: 12px;
    margin-top: 12px;
  }
}
