@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";
body {
  font-family: Adobe Caslon Pro, adobe-caslon-pro, serif;
  margin: 0px;
  background: #29303a;
}

.documentSection {
  background: #faeee2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  /*centers section*/
  position: relative;
}

.documentOverflow {
  background: #29303a;
  position: absolute;
  bottom: 0px;
  height: 140px;
  width: 100%;
  left: 0px;
}

.documentUnder {
  border: 40px solid #d0c7be;
  width: calc(100% - 33px);
  max-width: 800px;
  z-index: 0;
  min-height: 840px;
  position: absolute;
  margin-top: 54px;
  left: calc(50% - 444px);
  top: 0px;
  height: calc(100% - 200px);
}

/*1011 to  1001 wide, error*/
.swash {
  font-style: italic;
  font-feature-settings: "swsh";
  font-size: 2em;
}

.author {
  font-style: italic;
}

.authorSection {
  background: #29303a;
  color: #eee3cf;
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.mainColumn {
  background: #eee3cf;
  border: 14px solid #29303a;
  width: calc(100% - 33px);
  max-width: 800px;
  z-index: 1;
  min-height: 1000px;
  position: relative;
  margin-top: 80px;
  margin-left: 100px;
  /*helps center because issueIndex*/
}

.mainColumn::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #666666;
}

.logoThe {
  font-style: italic;
  position: relative;
  right: 110px;
  font-size: 20px;
}

.logoBroadway, .logoJournal {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  line-height: 33px;
}

.controlBar {
  height: 10px;
  display: flex;
  font-size: 12px;
}

.hrMain {
  width: 50px;
  height: 2px;
  background: #666666;
  margin: 30px auto;
}

.mainWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
  color: #666666;
  font-size: 11px;
}

.logoTitle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 20px;
  display: flex;
}

.logoSubtitle {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1px;
  left: 4px;
  letter-spacing: .5px;
  position: relative;
}

.content {
  width: 300px;
}

.footerBar {
  height: 80px;
}

.documentFooter {
  background: #322e2b;
}

.documentInner {
  border: 1px solid #666666;
  margin: 5px;
}

.issueBar {
  width: 109px;
  position: relative;
  font-family: Roboto;
  z-index: 0;
  min-width: 109px;
}

.activeMonth {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.singleIndex {
  color: #666666;
  cursor: pointer;
}

.singleText, .yearText {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: #666666;
  position: relative;
  top: 80px;
  padding-right: 10px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 11px;
  text-align: right;
  background: #29303a;
}

.yearText {
  background: #29303a;
  color: #ffffff;
  font-weight: 900;
  cursor: default;
}

.childIndex {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #666666;
  position: relative;
  padding-left: 0px;
  top: 80px;
  background: #faeee2;
}

.childText {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-right: 28px;
  padding: 5px;
  color: #faeee2;
  font-weight: 900;
  margin-bottom: 13px;
  background: #fe7251;
  text-align: right;
}

.issueIndex {
  position: relative;
  right: 33px;
  background: none;
  z-index: 3;
  top: 100px;
}

.issueIndex:nth-child(2) {
  z-index: 2;
  /*makes DEC clickable*/
}

.childIndex:hover .childText {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  color: #faeee2;
  margin-right: 0px;
}

.singleIndex:hover .singleText, .singleIndex:hover .yearText {
  color: #faeee2;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.activeMonth .singleText, .activeMonth .yearText {
  color: #faeee2;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.childIndex:nth-child(1) .childText {
  margin-top: 1px;
}

.childIndex:nth-last-child(1) .childText {
  margin-bottom: 12px;
}

.topMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.topMenu a {
  text-decoration: none;
  color: #666666;
  margin: 0px 10px;
  text-transform: uppercase;
  font-size: 11px;
}

.authorsButton {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #666666;
  padding: 10px;
  font-size: 11px;
  margin-top: 20px;
}

.authorHeader {
  text-align: center;
  font-size: 22px;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.inBorder {
  height: 1px;
  background: rgba(250, 238, 226, 0.3);
  width: 500px;
  position: relative;
  top: 30px;
  margin: 0px 20px;
}

.nav {
  width: 100%;
  height: 43px;
  background: #faeee2;
  border-bottom: 1px solid #d0c7be;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.node {
  width: 46.94px;
  background: #fe7251;
  margin: 1px;
  text-align: center;
  display: flex;
  padding: 7px 11px 3px 11px;
  font-style: italic;
  justify-content: center;
  align-items: center;
}

.node {
  background: #fe7251;
  color: #29303a;
  text-decoration: none;
  font-weight: 900;
}

.node .ContributingAuthor {
  color: #faeee2;
}

.authorDirectory {
  display: flex;
  flex-wrap: wrap;
  max-width: 1135px;
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
}

.navigationIssue {
  position: absolute;
  left: calc(50% - 585px);
  z-index: 1;
  display: flex;
  top: 54px;
  width: 140px;
  flex-direction: column;
  text-align: right;
}

.tocItem {
  color: #666666;
  font-size: 10px;
  font-family: roboto;
  letter-spacing: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.pageNumber {
  margin-left: 12px;
  border-radius: 2px;
  background: #d0c7be;
  padding: 3px;
  font-weight: 900;
  color: #faeee2;
}

.ccText {
  font-size: 8px;
  margin-left: 15px;
}

.tocDropdown {
  display: none;
}

.tocItem:hover {
  transform: scale(1.1);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.libLogo img {
  height: 20px;
  width: auto;
  margin-left: 20px;
  margin-top: 6px;
}

.authorLegend, .authorCard {
  max-width: 1135px;
  align-self: center;
  font-size: 12px;
  letter-spacing: .3px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.legendHeader {
  font-style: italic;
  margin-bottom: 15px;
}

.legendIcons {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.legend1, .legend2, .legend3, .legend4 {
  height: 30px;
  width: 30px;
  border: 2px solid #fe7251;
  overflow: hidden;
  border-radius: 1px;
  margin-right: 5px;
  background: #faeee2;
}

.legend2, .legend3, .legend4 {
  background: #29303a;
}

.legend3 {
  border: 2px solid rgba(254, 114, 81, 0.75);
}
.legend3 .innerIcon {
  background: rgba(254, 114, 81, 0.75);
}

.legend4 {
  border: 2px solid rgba(254, 114, 81, 0.5);
}
.legend4 .innerIcon {
  background: rgba(254, 114, 81, 0.5);
}

.innerIcon {
  height: 43px;
  width: 35px;
  background: #fe7251;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: -20px;
  left: -14px;
}

.contributingIcon {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 60px;
}

.iconTop {
  font-weight: 600;
}

.iconBottom {
  font-style: italic;
}

.dropCap {
  float: left;
  font-family: Georgia;
  font-size: 45px;
  line-height: 25px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.indent {
  text-indent: 40px;
  margin-top: 0px;
}

.authorCard {
  width: 100%;
  border: 1px solid rgba(250, 238, 226, 0.3);
  padding: 10px;
  bottom: 290px;
  background: #29303a;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .tocItem {
    display: none;
    color: #666666;
    font-size: 10px;
    font-family: roboto;
    padding: 20px;
    position: relative;
    width: 125px;
    align-items: center;
    text-align: end;
    background: #faeee2;
    justify-content: flex-end;
    left: -12px;
    top: 3px;
    line-height: 10px;
  }

  .navigationIssue {
    position: absolute;
    left: calc(50% - 370px);
    z-index: 2;
    letter-spacing: 0px;
    display: flex;
    height: 14px;
    border-right: 2px solid #d0c7be;
    border-left: 2px solid #d0c7be;
    border-bottom: 2px solid #faeee2;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    top: 80px;
    text-align: center;
    background: #fe7251;
  }

  .tocDropdown {
    display: block;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    padding-top: 2px;
    font-family: roboto;
    color: white;
  }

  .navigationIssue:hover .tocItem {
    display: flex;
  }
}
@media (max-width: 1000px) {
  .navigationIssue {
    position: absolute;
    left: 8%;
    z-index: 2;
    letter-spacing: 0px;
    display: flex;
    height: 14px;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    border-right: 2px solid #faeee2;
    border-left: 2px solid #faeee2;
    border-bottom: 2px solid #faeee2;
    top: 12px;
    text-align: center;
    background: #fe7251;
  }


.ContibutingAuthor a {
  color: #faeee2;
}

.authorDirectory {
  display: flex;
  flex-wrap: wrap;
  width: 1135px;
  align-self: center;
}

@media (max-width: 1000px) {
  .documentUnder {
    display: none;
  }

  .childIndex, .singleText, .yearText, .yearText {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .childIndex:nth-last-child(1) .childText {
    margin-bottom: 0px;
  }

  .singleText, .yearText, .yearText {
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(250, 238, 226, 0.09);
    padding: 10px;
  }

  .childText {
    border-bottom: 1px solid rgba(250, 238, 226, 0.09);
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px;
  }

  .childIndex {
    margin: 0px;
  }

  .childIndex:hover .childText {
    margin-right: 10px;
  }

  .issueBar {
    margin-right: 12px;
    min-width: 60px;
    width: 60px;
  }

  .issueIndex {
    right: 2px;
    top: -68px;
  }

  .mainColumn {
    width: calc(100% + 486px);
    margin-left: 12px;
    margin-top: 12px;
  }
}
