@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';

$document-color: #eee3cf;
$background-document-color: #faeee2;
$background-authors-color: #29303a;
$primary-accent-color: #fe7251;
$secondary-accent-color: #322e2b;

@mixin transform($deg){
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transition-duration($sec){
	-webkit-transition-duration: $sec;
    transition-duration: $sec;
}

body{
	font-family: Adobe Caslon Pro;
}

.documentSection {
	background: $background-document-color;
    display: flex;
    flex-direction: row;
    width: calc(100% - 133px);    
    max-width: 900px;	
}

.authorSection{
	background: $background-authors-color;
}

.mainColumn{
	background: $document-color;
}

.documentFooter{
	background: $secondary-accent-color;
}

.documentInner{
	border: 1px solid #ccc;
	margin: 5px;
}

.issueBar {
    width: 109px;
    position: relative;
    font-family: Roboto;
}

.singleIndex {
    color: grey;
    cursor: pointer;
}

.singleText{
 	@include transform(-45deg);
 	@include transition-duration(.2s);
	color: grey;
    position: relative;
    top: 80px;
    padding-right: 10px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 11px;
    text-align: right;
    background: #333133;
}

.childIndex {
 	@include transition-duration(.2s);
 	@include transform(-45deg);    	
    color: grey;
    position: relative;
    padding-left: 0px;
    top: 80px;
    background: $background-document-color;
}

.childText {
 	@include transition-duration(.2s);
    margin-right: 26px;
    padding: 5px;
    color: $background-document-color;
    font-weight: 900;
    margin-bottom: 13px;
    background: $primary-accent-color;
    text-align: right;
}

.issueIndex {
	position: relative;
	right: 33px;
	background: none;
	z-index: 3;
}

.childIndex:nth-child(1) .childText{
margin-top:1px;
}


.childIndex:nth-last-child(1) .childText{
margin-bottom: 12px;
}

@media (max-width: 1600px) {
}

@media (max-width: 1000px) {

}


