@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';

$document-color: #eee3cf;
$background-document-color: #faeee2;
$background-authors-color: #29303a;
$primary-accent-color: #fe7251;
$secondary-accent-color: #322e2b;
$document-text-color: #666666;
$document-divide-color: rgba(250, 238, 226, 0.09);
$document-outer-border: #d0c7be;

@mixin transform($deg){
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transition-duration($sec){
	-webkit-transition-duration: $sec;
    transition-duration: $sec;
}

body{
	font-family: Adobe Caslon Pro;
	margin: 0px;
	background: $background-authors-color;
}

.documentSection {
	background: $background-document-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px; /*centers section*/    
    position: relative;
}

.documentOverflow{
	background: $background-authors-color;	
	position: absolute;
	bottom: 0px;
	height: 200px;
	width: 100%;
}

.documentUnder {
    background: none;
    border: 40px solid $document-outer-border;
    width: calc(100% - 225px);
    max-width: 1100px;
    z-index: 0;
    min-height: 1200px;
    margin-top: 50px;
    position: absolute;
}

.authorSection{
	background: $background-authors-color;
}

.mainColumn{
	background: $document-color;
	border: 14px solid $background-authors-color;	
	width: calc(100% - 133px);    
    max-width: 1100px;	
    z-index: 1;
    min-height: 1400px;
    position: relative;
    margin-top:80px;
    margin-left: 100px; /*helps center because issueIndex*/
}

.mainColumn::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid grey;
}

.logoThe {
    font-style: italic;
    position: relative;
    right: 120px;
    font-size: 20px;
}

.logoBroadway, .logoJournal{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 500;
    line-height: 39px;
}

.controlBar{
    height: 10px;
    display: flex;
    border-left: 8vw solid $secondary-accent-color;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.hrMain {
    width: 50px;
    height: 2px;
    background: #666666;
    margin: 30px auto;
}

.mainWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 160px);
    color: $document-text-color;
}

.logoTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 20px;

}

.logoSubtitle {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1px;
    left: 4px;
    letter-spacing: .5px;
    position: relative;
}

.mainCenter{
	width:340px;
}

.footerBar{
	height: 80px;
}

.documentFooter{
	background: $secondary-accent-color;
}

.documentInner{
	border: 1px solid #ccc;
	margin: 5px;
}

.issueBar {
    width: 109px;
    position: relative;
    font-family: Roboto;
    z-index: 0;
}

.activeMonth {
 	@include transition-duration(.2s);
 }

.singleIndex {
    color: grey;
    cursor: pointer;
}

.singleText{
 	@include transform(-45deg);
 	@include transition-duration(.2s);
	color: grey;
    position: relative;
    top: 80px;
    padding-right: 10px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 11px;
    text-align: right;
    background: $background-authors-color;
}

.yearText{
	@extend .singleText;
}

.childIndex {
 	@include transition-duration(.2s);
 	@include transform(-45deg);    	
    color: grey;
    position: relative;
    padding-left: 0px;
    top: 80px;
    background: $background-document-color;
}

.childText {
 	@include transition-duration(.2s);
    margin-right: 28px;
    padding: 5px;
    color: $background-document-color;
    font-weight: 900;
    margin-bottom: 13px;
    background: $primary-accent-color;
    text-align: right;
}

.issueIndex {
	position: relative;
	right: 33px;
	background: none;
	z-index: 3;
  	top: 50px;  	
}

.issueIndex:nth-child(3){
    z-index:2; /*makes DEC clickable*/
}

.childIndex:hover .childText{
 	@include transition-duration(0s);
    color: $background-document-color;
    margin-right: 15px;
}

.singleIndex:hover .singleText{
    color: $background-document-color;
 	@include transition-duration(0s);
}

.activeMonth .singleText {
    color: $background-document-color;
 	@include transition-duration(0s);
}

.childIndex:nth-child(1) .childText{
margin-top:1px;
}

.childIndex:nth-last-child(1) .childText{
margin-bottom: 12px;
}


@media (max-width: 1000px){

.childIndex, .singleText, .yearText{	
	@include transform(0deg);
}

.childIndex:nth-last-child(1) .childText{
	margin-bottom: 0px;
}

.singleText, .yearText{
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid $document-divide-color;
    padding: 10px;    
}

.childText{
    border-bottom: 1px solid $document-divide-color;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
}

.childIndex{
	margin: 0px;
}

.issueIndex{
	right: 2px;
    top: -99px;
}

.mainColumn{
	    width: calc(100% + 486px);
	margin-left: 2px;
    margin-top: 2px;	
}

}