@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";
body {
  margin: 0px;
  font-family: Roboto;
  font-size: 12px;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.headerLogo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo img {
  width: 120px;
  height: auto;
}

.headerTitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 20px;
  background: black;
  color: white;
}

.header button::after {
  content: 'on';
}

.headerNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerNav div {
  margin-left: 10px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

.contrast, .contrastSwitch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contrastOn, .contrastOff {
  text-transform: uppercase;
  padding: 5px;
}

.contrastSwitch {
  border: 1px solid;
  border-radius: 5px;
  margin-left: 5px;
  overflow: hidden;
}

.contrastOff {
  background: black;
  color: white;
}

/*BEGIN High Contrast Mode*/
.highContrast .contrastOff {
  background: white;
  color: black;
}
.highContrast .contrastOn {
  background: black;
  color: white;
}

/*END High Contrast Mode*/
