@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';


$document-color: #eee3cf;
$background-document-color: #faeee2;
$background-authors-color: #29303a;
$primary-accent-color: #fe7251;
$light-border-color: #e9e9e9;
$primary-accent-color-HC: #000000;
$secondary-accent-color: #322e2b;
$document-text-color: #474747;
$document-divide-color: rgba(250, 238, 226, 0.09);
$document-outer-border: #d0c7be;
$hr-color: rgba(250, 238, 226, 0.3);
$primary-accent-color2:  rgba(254, 114, 81, 0.75);
$primary-accent-color-HC2:  #000000;
$primary-accent-color-HC3:  #000000;
$primary-accent-color3:  rgba(254, 114, 81, 0.5);

$dark-border-color: #5c5c5c;

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin transform($deg){
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transition-duration($sec){
    -webkit-transition-duration: $sec;
    transition-duration: $sec;
}

@mixin transition($sec){
	-webkit-transition: all $sec ease;
	-moz-transition: all $sec ease;
	-ms-transition: all $sec ease; 
	transition: all $sec ease;  
}


@mixin flexCenter{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  justify-content: center;
  align-items: center;
}

input:focus {
    outline: none !important;
  }

body {
	margin: 0px;
  font-family: Roboto;
  font-size: 12px;
    color: $document-text-color;  
}

.header{
	 @include flexbox;
   position: relative;
}

.header a{
  text-decoration: none;
    color: $document-text-color;    
}

.headerLogo{
    @include flexCenter;  
}

.headerLogo img{
	width: 120px;
    height: auto;
}

.headerTitle {
    @include flexCenter;
    line-height: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;

}

.header button::after{
  content:'on';
}

.headerNav{
    @include flexCenter;
    position: relative;
    font-weight: 700;      
}

.headerNav div{
  cursor: pointer;
}

.headerNav i {
  margin: 0px 10px 0px 0px;
  font-size: 1.3em;
}

.header > div:not(.headerNav), .header > a {
    padding: 0px 30px 0px 30px;
    border-right: 1px solid $light-border-color;
    cursor: pointer;    
}

.headerNav > div {
    border-right: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px 16px 20px;
}

input {
    border: 1px solid $light-border-color;
    color: grey;
    padding: 5px;
}

input:focus {
    color: $primary-accent-color;
}

.contrast {
    flex-direction: column;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 9px;
}

.contrast, .contrastSwitch {
  @include flexCenter;

}

.contrastOn, .contrastOff{
    padding: 2px 10px 2px 10px;
}

.contrastSwitch {
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;    
}

.contrastOff{
  background: $document-text-color;
  color: white;
}

.content{
    background: $light-border-color;  
    font-size: 14px;    
}

.searchInput {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.abouts {
    padding: 40px;
}


.issue{
  @include flexbox;
}

.interIssueNav{
    @include flexbox;
    align-content: flex-start;    
    margin: 1px 0px 0px 0px;
    background: white;
    padding: 20px;
    font-weight: 700;
    flex-wrap: wrap;  
    width: 30%;    
}

.interIssueNav::before{
  content:'issue navigation';
  font-size: 2em;  
    text-transform: uppercase;

}

.issue::before{
    background: black;
    content: 'Issues';
    width: 10px;
    color: white;
    word-wrap: break-word;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.tocDropdown {
    font-size: 2em;
    border-bottom: 1px dashed $light-border-color;
    text-transform: uppercase;    
}

.tocItem {
    padding: 5px;
    cursor: pointer;
}


.author{
      font-weight: 500;
}

.issueIndex {
    margin-bottom: 10px;
}

.issueIndex > div{
  @include transition(.5);
}

.issueBody {
    background: white;
    margin-top: 1;
    margin-left: 1px;
    flex-grow: 2;    
    padding: 20px;
    width: 70%;    
}

.issueDate{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
}


.singleText {
    background: $light-border-color;
    padding: 5px;
    margin-bottom: 1px;
}

.singleIndex:nth-child(1) {
    width: 100%;
    font-size: 1.2em;
    color: #979797;
    border-bottom: 1px dashed #e9e9e9;
    margin-bottom: 5px;
}

.issueIndex {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
}

.singleIndex.activeMonth {

    @include flexbox;
    background: $primary-accent-color; 
    color: $primary-accent-color;
}

.singleText {
    background: $light-border-color;
    padding: 13px;
    margin: 1px;
    width: 40px;
}

.childIndex {
    @include flexCenter;
    background: $primary-accent-color;
    margin-bottom: 1px;
    padding: 10px 15px 10px 15px;
    color: white;
}

.intraIssueNav {
    width: 100%;
}

.active.childText {
    color: black;
}

.childPieceTitle {
    font-weight: 500;
    border-left: 2px solid $document-text-color;
    padding-left: 5px;
    @include transition(.5s);
}

.piece{
    @include transition(.5s);
}

.intraIssueNav{
.childPieceTitle:hover, .piece:hover{
  padding-left: 10px;
  @include transition(0s);
      color: $primary-accent-color;
}
}

.issueVol, .issueNum {
    background: #474747;
    color: white;
    padding: 5px;
    margin-top: 1px;
    border-radius: 2px;
    width: 45px;
    font-size: 0.9em;
}

/*BEGIN Personograpy*/

.personIndex {
    @include flexbox;
    flex-wrap: wrap;
}

.personFilter input {
    width: 100%;
    font-size: 2em;
    height: 140px;
    padding: 40px;
}

.personIndex .person {
    background: $primary-accent-color;
    margin: 0px 1px 1px 0px;
    padding: 20px;
    flex-grow: 1;
}

.Contributing .personName{
  color: white;
}

.personName {
    font-size: 1.5em;
    font-weight: 700;
}

.Contributing .personRole {
    background: white;
    color:  $primary-accent-color;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase;
}

.Mentioned .personRole {
    background: $document-text-color;
    color: $primary-accent-color;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase;
}

.personBibl {
    @include flexbox;
    background: #ffffff;
    color: #474747;
    margin: 20px -20px -20px -20px;
    padding: 20px 20px 40px 20px;
    border-top: 1px dashed #fe7251;
    align-items: center;
}

.pieceMeta {
.pieceTitle {
    font-size: 1.5em;
}  
    margin-left: 7px;
    line-height: 15px;    
}

/*BEGIN SEARCH RESULTS*/

.searchResults::before {
    content: 'Search Results';
    font-size: 2em;
    padding: 20px;    
}

.searchResult {
    background: $light-border-color;
    margin-bottom: 5px;
    padding: 30px;
    border-top: 1px solid white;    
}

.pieceTitle {
    font-size: 2em;
}

.context {
    font-size: 1.2em;
}

span.searchHit {
    background: yellow;
}

/*END SEARCH RESULTS*/

/*BEGIN High Contrast Mode*/
.highContrast{

    .content {
        background: #29303a;
        color: white;
    }

    .contrastOff{
      background: white;
      color: $document-text-color;
    }

    .contrastOn{
    background: $document-text-color;
    color: white;
    }


}
/*END High Contrast Mode*/  