@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";

input:focus {
  outline: none !important;
}

.biblTitle, .issueId, .biblPage {
  display: none;
}

body {
  margin: 0px;
  font-family: Roboto;
  font-size: 12px;
  color: #474747;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
}

.header a {
  text-decoration: none;
  color: #474747;
}

.headerLogo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo img {
  width: 120px;
  height: auto;
}

.headerTitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.headerNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
}

.headerNav div {
  cursor: pointer;
}

.headerNav i {
  margin: 0px 10px 0px 0px;
  font-size: 1.3em;
}

.header > div:not(.headerNav), .header > a {
  padding: 0px 30px 0px 30px;
  border-right: 1px solid #e9e9e9;
  cursor: pointer;
}

.headerNav > div {
  border-right: 1px solid #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 16px 20px;
}

input {
  border: 1px solid #e9e9e9;
  color: grey;
  padding: 5px;
}

input:focus {
  color: #fe7251;
}

.contrast {
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 9px;
}

.contrast, .contrastSwitch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contrastOn, .contrastOff {
  padding: 2px 10px 2px 10px;
}

.contrastSwitch {
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.contrastOff {
  background: #474747;
  color: white;
}

.content {
  background: #e9e9e9;
  font-size: 14px;
}

.searchInput {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.abouts {
  padding: 40px;
  background: url(http://i.imgur.com/gHkl0bM.jpg);
  height: calc(100% - 127px);
  background-size: cover;
}

.logo {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.4vw;
  line-height: 4.7vw;
  color: #fe7251;
  padding: 200px 200px 0px 200px;
}

.about {
  margin-left: 200px;
}

.about, .technical, .credits {
  background: #fe7251;
  margin-top: -20px;
  color: white;
  position: relative;
  padding: 20px;
  text-transform: uppercase;
  top: 21px;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
}

.abouts > div:nth-last-child(1) {
  margin-top: 30px;
  background: white;
  padding: 20px;
  font-size: 1.5em;
  margin-left: 200px;
  margin-right: 200px;
}

.logoSubtitle {
  background: #fe7251;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0em;
  padding-left: 1vw;
}

.issue {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.interIssueNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: flex-start;
  margin: 1px 0px 0px 0px;
  background: white;
  padding: 20px;
  font-weight: 700;
  flex-wrap: wrap;
  width: 30%;
}

.interIssueNav::before {
  content: 'issue navigation';
  font-size: 2em;
  text-transform: uppercase;
  line-height: .9em;
}

.issue::before {
  background: black;
  content: 'Issues';
  width: 10px;
  color: white;
  word-wrap: break-word;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.tocDropdown {
  font-size: 2em;
  border-bottom: 1px dashed #e9e9e9;
  text-transform: uppercase;
  line-height: .9em;
}

.tocItem {
  padding: 5px;
  cursor: pointer;
}

.author {
  font-weight: 500;
}

.issueIndex {
  margin-bottom: 10px;
}

.issueIndex > div {
  -webkit-transition: all 0.5 ease;
  -moz-transition: all 0.5 ease;
  -ms-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.issueBody {
  background: white;
  margin-top: 1;
  margin-left: 1px;
  flex-grow: 2;
  padding: 20px;
  width: 70%;
}

.issueDate {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}

.singleText {
  background: #e9e9e9;
  padding: 5px;
  margin-bottom: 1px;
}

.singleIndex:nth-child(1) {
  width: 100%;
  font-size: 1.2em;
  color: #979797;
  border-bottom: 1px dashed #e9e9e9;
  margin-bottom: 5px;
}

.issueIndex {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.singleIndex.activeMonth {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #fe7251;
  color: #fe7251;
}

.singleText {
  background: #e9e9e9;
  padding: 13px;
  margin: 1px;
  width: 40px;
}

.childIndex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fe7251;
  margin-bottom: 1px;
  padding: 10px 15px 10px 15px;
  color: white;
}

.intraIssueNav {
  width: 100%;
}

.active.childText {
  color: black;
}

.childPieceTitle {
  font-weight: 500;
  border-left: 2px solid #474747;
  padding-left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.piece {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intraIssueNav .childPieceTitle:hover, .intraIssueNav .piece:hover {
  padding-left: 10px;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  transition: all 0s ease;
  color: #fe7251;
}

.issueVol, .issueNum {
  background: #474747;
  color: white;
  padding: 5px;
  margin-top: 1px;
  border-radius: 2px;
  width: 45px;
  font-size: 0.9em;
}

.teiMarkup {
  font-size: 1.2em;
}

.head {
  font-weight: 700;
  border-bottom: 1px solid #c0c0c0;
  margin: 20px 0px 20px 0px;
}

button.searchSubmit {
  background: none;
  border: none;
  color: #474747;
}

/*BEGIN Personography*/
.personIndex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.personFilter input {
  width: 100%;
  font-size: 2em;
  height: 140px;
  padding: 40px;
}

.personIndex .person {
  background: #fe7251;
  margin: 0px 1px 1px 0px;
  padding: 20px;
  flex-grow: 1;
}

.Contributing .personName {
  color: white;
}

.personName {
  font-size: 1.5em;
  font-weight: 700;
}

.Contributing .personRole {
  background: white;
  color: #fe7251;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.Mentioned .personRole {
  background: #474747;
  color: #fe7251;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.personBibl {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #ffffff;
  color: #474747;
  margin: 20px -20px -20px -20px;
  padding: 20px 20px 40px 20px;
  border-top: 1px dashed #fe7251;
  align-items: center;
}

.pieceMeta {
  margin-left: 7px;
  line-height: 15px;
}
.pieceMeta .pieceTitle {
  font-size: 1.5em;
}

/*BEGIN SEARCH RESULTS*/
.searchResults::before {
  content: 'Search Results';
  font-size: 2em;
  padding: 20px;
}

.searchResult {
  background: #e9e9e9;
  margin-bottom: 5px;
  padding: 30px;
  border-top: 1px solid white;
}

.pieceTitle {
  font-size: 2em;
}

.context {
  font-size: 1.2em;
}

span.searchHit {
  background: yellow;
}

/*END SEARCH RESULTS*/
/*BEGIN High Contrast Mode*/
.highContrast .content {
  background: #29303a;
  color: white;
}
.highContrast .contrastOff {
  background: white;
  color: #474747;
}
.highContrast .contrastOn {
  background: #474747;
  color: white;
}

/*END High Contrast Mode*/
