@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';
$document-color: #eee3cf;
$background-document-color: #faeee2;
$background-authors-color: #29303a;
$primary-accent-color: #fe7251;
$light-border-color: #e9e9e9;
$primary-accent-color-HC: #000000;
$secondary-accent-color: #322e2b;
$document-text-color: #474747;
$document-divide-color: rgba(250, 238, 226, 0.09);
$document-outer-border: #d0c7be;
$hr-color: rgba(250, 238, 226, 0.3);
$primary-accent-color2: #be553c;
$primary-accent-color-HC2: #000000;
$primary-accent-color-HC3: #000000;
$primary-accent-color3: rgba(254, 114, 81, 0.5);
$dark-border-color: #5c5c5c;
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin transform($deg) {
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition-duration($sec) {
  -webkit-transition-duration: $sec;
  transition-duration: $sec;
}

@mixin transition($sec) {
  -webkit-transition: all $sec ease;
  -moz-transition: all $sec ease;
  -ms-transition: all $sec ease;
  transition: all $sec ease;
}

@mixin flexCenter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none !important;
}

.biblTitle,
.issueId,
.biblPage {
  display: none;
}

body {
  margin: 0px;
  font-family: Roboto;
  font-size: 12px;
  color: $document-text-color;
}

.header {
  @include flexbox;
  position: relative;
  z-index: 3;
  background: white;
}

.header a {
  text-decoration: none;
  color: $document-text-color;
}

.headerLogo {
  @include flexCenter;
}

.headerLogo img {
  width: 120px;
  height: auto;
}

.headerTitle {
  @include flexCenter;
  line-height: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.headerNav {
  @include flexCenter;
  position: relative;
  font-weight: 700;
}

.headerNav div {
  cursor: pointer;
}

.headerNav i {
  margin: 0px 10px 0px 0px;
  font-size: 1.3em;
}

.header > div:not(.headerNav),
.header > a {
  padding: 0px 30px 0px 30px;
  border-right: 1px solid $light-border-color;
  cursor: pointer;
}

.headerNav > div {
  border-right: 1px solid #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px 16px 20px;
  @include transition(0.5s);
}

.headerNav > div:hover {
  color: white;
  background: $primary-accent-color;
  @include transition(0s);
}

input {
  border: 1px solid $light-border-color;
  color: grey;
  padding: 5px;
}

input:focus {
  color: $primary-accent-color;
}

.contrast {
  flex-direction: column;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 9px;
}

.contrast,
.contrastSwitch {
  @include flexCenter;
}

.contrastOn,
.contrastOff {
  padding: 2px 10px 2px 10px;
}

.contrastSwitch {
  border: 1px solid;
  border-radius: 5px;
  overflow: hidden;
}

.contrastOff {
  background: $document-text-color;
  color: white;
}

.content {
  background: $light-border-color;
  font-size: 14px;
}

.searchInput {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.issue {
  @include flexbox;
}

.interIssueNav {
  @include flexbox;
  align-content: flex-start;
  margin: 1px 0px 0px 0px;
  background: white;
  padding: 20px;
  font-weight: 700;
  flex-wrap: wrap;
  width: 30%;
}

.interIssueNav::before {
  content: 'issue navigation';
  font-size: 2em;
  text-transform: uppercase;
  line-height: .9em;
}

.content > .issue::before {
  background: black;
  content: 'Issues';
  width: 10px;
  color: white;
  word-wrap: break-word;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.content > .abouts::before {
  background: black;
  content: 'About';
  width: 10px;
  color: white;
  word-wrap: break-word;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.tocDropdown {
  font-size: 2em;
  border-bottom: 1px dashed $light-border-color;
  text-transform: uppercase;
  line-height: .9em;
}

.tocItem {
  padding: 5px;
  cursor: pointer;
}

.author {
  font-weight: 500;
}

.issueIndex {
  margin-bottom: 10px;
}

.issueIndex > div {
  @include transition(.5);
}

.issueBody {
  background: white;
  margin-top: 1;
  margin-left: 1px;
  flex-grow: 2;
  width: 70%;
}

.issueDate {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}

.singleText {
  background: $light-border-color;
  padding: 5px;
  margin-bottom: 1px;
}

.singleIndex:nth-child(1) {
  width: 100%;
  font-size: 1.2em;
  color: #979797;
  border-bottom: 1px dashed #e9e9e9;
  margin-bottom: 5px;
}

.issueIndex {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.singleIndex.activeMonth {
  @include flexbox;
  background: $primary-accent-color;
  color: $primary-accent-color;
}

.singleText {
  background: $light-border-color;
  padding: 13px;
  margin: 1px;
  width: 40px;
  cursor: pointer;
}

.singleText:hover {
  background: $document-text-color;
  color: white;
}

.childIndex {
  @include flexCenter;
  background: $primary-accent-color;
  margin-bottom: 1px;
  padding: 10px 15px 10px 15px;
  color: white;
  cursor: pointer;
}

.childIndex:hover,
.childIndex:hover .active.childText {
  background: $document-text-color;
  color: white;
}

.intraIssueNav {
  width: 100%;
}

.active.childText {
  color: black;
}

.childPieceTitle {
  font-weight: 500;
  border-left: 2px solid $document-text-color;
  padding-left: 5px;
  @include transition(.5s);
}

.piece {
  @include transition(.5s);
}

.intraIssueNav {
  .childPieceTitle:hover,
  .piece:hover {
    padding-left: 10px;
    @include transition(0s);
    color: $primary-accent-color;
  }
}

.issueVol,
.issueNum {
  background: #474747;
  color: white;
  padding: 5px;
  margin-top: 1px;
  border-radius: 2px;
  width: 45px;
  font-size: 0.9em;
}

.teiMarkup {
  font-size: 1.2em;
  padding: 20px;
}

.head {
  font-weight: 700;
  border-bottom: 1px solid#c0c0c0;
  margin: 20px 0px 20px 0px;
}

button.searchSubmit {
  background: none;
  border: none;
  color: $document-text-color;
}


/*BEGIN Personography*/

.personography {
  padding-left: 40px;
  position: relative;
  .authorCertainty {
    background: #fe7251;
    float: left;
    color: white;
    margin-top: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .authorStatus {
    @extend .authorCertainty;
  }
  .personPieceRole {
    @extend .authorCertainty;
  }
  .authorRole {
    @extend .authorCertainty;
  }
  .sectionTitle {
    margin-left: 60px;
    font-weight: 700;
  }
  .issueMeta {
    float: left;
    position: absolute;
  }
  .pieceTitle,
  .personPieceMeta {
    margin-left: 60px;
  }
  .pieceMeta {
    margin-left: 0px;
  }
}

.personography::before {
  background: black;
  content: 'Personography';
  width: 10px;
  color: white;
  word-wrap: break-word;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 0px;
  height: calc(100% - 30px);
}

.personIndex {
  @include flexbox;
  flex-wrap: wrap;
  padding-top: 140px;
}

.personFilter {
  z-index: 2;
  position: fixed;
  width: 100%;
  padding-top: 50px;
  background: white;
  top: 0px;
}

.personFilter input {
  width: 100%;
  font-size: 2em;
  height: 140px;
  padding: 40px;
  border: none;
}

.personIndex .person {
  background: $primary-accent-color;
  margin: 0px 1px 1px 0px;
  padding: 20px;
  flex-grow: 1;
  cursor: pointer;
}

.Contributing .personName {
  color: white;
}

.personName {
  font-size: 1.5em;
  font-weight: 700;
}

.Contributing .personRole {
  background: white;
  color: $primary-accent-color;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.Mentioned .personRole {
  background: $document-text-color;
  color: $primary-accent-color;
  padding: 5px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8em;
  text-transform: uppercase;
}

.personBibl {
  @include flexbox;
  background: #ffffff;
  color: #474747;
  margin: 20px -20px -20px -20px;
  padding: 20px 20px 40px 20px;
  border-top: 1px dashed #fe7251;
  flex-wrap: wrap;
  flex-direction: column;
}

.pieceMeta {
  position: relative;
  .pieceTitle {
    font-size: 1.5em;
  }
  margin-left: 7px;
  line-height: 15px;
}

a.downloadLink {
    background: #fe7251;
    width: 129px;
    height: 29px;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
    font-weight: 700;
    text-decoration: none;
    margin-top: 2px;
    display: inline-block;
    font-size: 0.9em;
    float: left;
    position: absolute;
    top: -2px;
    right: 0px;
}

.downloadIcon {
  height: 100%;
  width: 30px;
  border-right: 1px dashed white;
  background: #fe7251;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
}

.downloadText {
  @include flexCenter;
  height: 100%;
}

.drawerActuator {
    cursor: pointer;
    width: 100%;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 2px;
    display: flex;
    justify-content: flex-start;
    border-top: 1px dashed #e9e9e9;
    align-items: center;
    border-bottom: 1px dashed #e9e9e9;
}

.drawerIcon {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:20px;
}

.drawerText {
    font-size: 12px;
    line-height: 14px;
    padding: 9px;
}


/*BEGIN SEARCH RESULTS*/

.searchResults {
  background: #e9e9e9;
  border-top: 1px solid #e9e9e9;
}

.searchResultsHeader {
  padding: 20px;
  background: white;
}

.searchResultsTitle {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
}

.searchResultsCount {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #b7b7b7;
  display: inline;
  position: relative;
  margin-left: 10px;
  top: -2px;
  border-radius: 5px;
}

.searchResultsString {
  position: relative;
  top: -6px;
  color: #8a8a8a;
  font-weight: 700;
}

.searchResult {
  background: #ffffff;
  margin-top: 1px;
  padding: 30px;
  cursor: pointer;
}

.searchResult:hover {
  background: #e9e9e9;
}

.searchResult .pieceTitle {
  font-size: 1.5em;
}

.context {
  font-size: 1.2em;
}

span.searchHit {
  background: yellow;
}

.authorShipOrigin {
  float: left;
  background: #fe7251;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 2px 4px 2px 4px;
  position: relative;
  top: -2px;
  border-radius: 2px;
  margin: 0px 0px 0px 2px;
}

.authorShipCertainty {
  @extend .authorShipOrigin;
}

.issueHeader > .sectionMeta .sectionTitle {
    position: absolute;
    left: 120px;
    top: 6px;
    font-weight: 700;
}

.issueHeader {

  @include flexbox;
  flex-direction: column;
  position: relative;  
  min-height: 100px;  

.personMeta{
  float: left;
  @include flexbox;
}

.personName {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 2px;
}



  .issueMeta {
    background: $light-border-color;
    margin-bottom: 10px;    
  }
  .bibl > .issue {
    flex-wrap: wrap;
  }
  .bibl {

.issueHeader .personMeta {
    float: left;
     @include flexbox;

}

.personPieceMeta, .authorShip {
  @include flexbox;
}

    .personViaf {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

    .authorRole, .authorStatus, .authorCertainty, .personViaf a {
    background: #e9e9e9;
    color: #474747;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0px 0px 0px 2px;
    text-decoration: none;
}
    margin-left: 140px;
    .issue > .pieceMeta {
      margin: 0px;
      line-height: normal;
      margin-right: 10px;
      width: 100%;
    }
    .pieceTitle {
      font-size: 2em;
      line-height: 30px;
      font-weight: 700;
    }
    .sectionMeta {
      font-weight: 700;
      margin-top: 2px;
      margin-right: 2px;
      border-radius: 4px;
      border: 1px solid #474747;
      font-size: 0.9em;
      padding: 5px;
      float: left;
    }
  }
  .issueHeader > .personPieceMeta {
    display: flex;
  }
  .personMeta {

   .personRole {
      display: none;
    }
  }
  .issueHeader .pieceAuthor {
    font-size: 1.4em;
  }
  .issueVol,
  .issueNum {
    background: $document-text-color;
    color: #ffffff;
    width: 45px;
    font-weight: 700;
    font-size: 0.9em;
    float: left;
    margin-right: 1px;
    height: 18px;
    @include flexCenter;
  }
  .pieceMeta {
    margin-bottom: 30px;
    margin-left: 0x;
  }
  .pieceAuthor,
  .pieceAuthorRole {
    float: left;
  }
  .pieceAuthorShip {
    display: inline;
  }
  .pieceAuthorRole {
    background: $primary-accent-color;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    position: relative;
    top: -2px;
    margin-left: 5px;
  }
}

.personBibl {
  .issueVol,
  .issueNum {
    float: none;
    background: $primary-accent-color;
  }
}

.pieceAuthorRole {
  background: $primary-accent-color;
  color: white;
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.active .drawerActuator {
  background: #e9e9e9;
}

.drawer {

    margin: 20px;


    .issueMeta{
      position: absolute;
    }

    .sectionMeta, .pieceMeta, .personPieceMeta{
      margin-left:70px;
    }
      .authorCertainty {
    }
    background: white;
    float: left;
    color: $primary-accent-color;
    margin-top: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .authorStatus {
    @extend .authorCertainty;
  }
  .personPieceRole {
    @extend .authorCertainty;
  }
  .personBibl:hover {
    background: $document-text-color;
    @include transition(0s);
    color:white;
  }
  .personBibl {
    background: $light-border-color;
    color: $document-text-color;
    font-size: 0.9em;
    padding: 20px;
    border-top: 1px dashed #ffffff;
    cursor: pointer;
    margin: 0px;
  }
  .issueVol,
  .issueNum {
    background: #ffffff;
    color: #fe7251;
    padding: 5px;
    margin-top: 1px;
    border-radius: 2px;
    width: 45px;
    font-weight: 700;
    font-size: 0.9em;
  }
  .pieceTitle,
  .issueHeader,
  .pieceAuthorShip {
    margin: 0px;
  }
  .pieceTitle {
    font-size: 1.5em;
  }
}

.authorShipLegend {
  display: none;
}

.pieceAuthorShip:hover + .authorshipLegend,
.authorshipLegend:hover {
  display: block;
  position: absolute;
  width: 250px;
  left: 290px;
  top: 0px;
  background: white;
  padding: 22px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}


/*END SEARCH RESULTS*/

.issueHeader .drawer .pieceMeta {
  margin-bottom: 0px;
}

.viewerSelector {
  float: left;
  margin-right: 15px;
  border: 1px solid $document-text-color;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 87px;
    margin-left: 20px;  
}

.viewerTitle {
  text-transform: uppercase;
  position: relative;
  height: 20px;
  font-size: 0.7em;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.viewerText {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $document-text-color;
  color: white;
  flex-direction: column;
}

.viewerPdf {
  @extend .viewerText;
  background: none;
  color: $document-text-color;
}

.viewerTextIcon,
.viewerPdfIcon {
  font-size: 1.5em;
}

.viewerSwitch {
  display: flex;
  position: relative;
  height: 37px;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  border-top: 1px solid #e9e9e9;
  text-transform: uppercase;
  font-size: 0.6em;
  cursor: pointer;
}

.pdfSelected {
  .viewerText {
    color: $document-text-color;
    background: none;
  }
  .viewerPdf {
    color: white;
    background: $document-text-color;
  }
}


/*credits*/

.creditsPerson {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.creditsPersonName {
  font-weight: 700;
}

.creditsPersonAffiliation {
  padding-bottom: 4px;
  font-size: 0.8em;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 1px;
}

div#pdf-viewer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

button.next-page,
button.prev- {
  align-self: flex-start;
  background: none;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
  border-radius: 4px;
  cursor: pointer;
}

canvas#pdf {
  align-self: flex-start;
  width: 100%;
}

#pdf-viewer {
  background: #474747;
}

.Mentioned .personViaf a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  color: $document-text-color;
  position: relative;
  top: 7px;
}

.Contributing .personViaf a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  position: relative;
  top: 7px;
}

.personViaf i {
  margin-right: 5px;
}

.abouts {
  @include flexbox;
  min-height: calc(100vh - 47px);
}

.aboutToggle {
  @include flexbox;
  flex-direction: column;
  background: white;
  margin-top: 1px;
}

.aboutToggle > div {
  padding: 50px;
  background: white;
  border-bottom: 1px solid $light-border-color;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

.aboutViewer {
  background: white;
  margin: 1px;
  padding: 20px;
}

.aboutToggle .active {
  color: $primary-accent-color;
}

.headerNav > .active {
  color: $primary-accent-color;
}

.logoTitle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 20px;
  display: flex;
  font-family: "Adobe Caslon Pro";
}

.logoThe {
  font-style: italic;
  position: relative;
  font-size: 20px;
}

.logoBroadway,
.logoJournal {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  line-height: 33px;
}

.logoSubtitle {
  text-transform: uppercase;
  left: 4px;
  letter-spacing: .5px;
  position: relative;
}


/*BEGIN High Contrast Mode*/

.highContrast {
  .contrastOff {
    background: white;
    color: $document-text-color;
  }
  .contrastOn {
    background: $document-text-color;
    color: white;
  }
  .content {
    font-size: 1.5em;
  }
}


/*END High Contrast Mode*/

.fade-enter-active {
  transition: transform 1s;
}

.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter {
  transform: translateX(20px);
}

.fade-leave-to {
  opacity: 0;
}